<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Polarship</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />

</head>

<body class="is-preload homepage">

    <!-- Header -->
    <div id="fixed-menu; header-wrapper;">
        <header id="header">

            <!-- Logo -->
            <div id="logo">
                <a href="./main"><img src="/images/logo_pholarship.png" style="width:15%; margin:5px 0 5px 30px;" alt="" /></a>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="./introduction">소개</a></li>
                    <li><a href="./boardList">응원하기</a></li>
                    <li><a href="./boardList2">장학금</a></li>
                    <li><a href="./boardList3">기부내역</a></li>
                    <li><a href="./loginForm">로그인</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-content">
        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <h3>장학생 소개</h3>
                <!--
                <img src="<%=row.brdurl%>" style="width:100%" class="inline">
                -->
                <table border="1" style="width:1200px">
                    <colgroup>
                        <col width='15%' />
                        <col width='*%' />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>Writer</td>
                            <td>
                                <%=row.brdwriter%>
                            </td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>
                                <%=row.brdtitle%>
                            </td>
                        </tr>
                        <tr>
                            <td>Token name</td>
                            <td>
                                <%=row.brdtokenname%>
                            </td>
                        </tr>
                        <tr>
                            <td>Token amount</td>
                            <td>
                                <%=row.brdtokenamount%>
								
								<!--<%=row.brdaddress%>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <%=row.brdmemo%>
                </p>
                <a href="#" onclick="history.back(-1)" class="button alt viewmore pull-left icon fa-bars">목록보기</a>
                <a href="#" onclick="donate()" class="button alt viewmore pull-left icon fa-dollar">기부하기</a>
                <a href="boardDelete?brdno=<%=row.brdno%>" class="button alt viewmore pull-right icon fa-trash">삭제하기</a>
                <a href="boardForm?brdno=<%=row.brdno%>" class="button alt viewmore pull-right icon fa-edit">수정하기</a>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Team info</h3>
                            <ul class="style2">
                                <li><a href="#">고려대학교 블록체인학회</a></li>
                                <li><a href="#">전공자, 비전공자 구분 없는</a></li>
                                <li><a href="#">Proof of Study 방식의 DAO</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Notification</h3>
                            <ul class="style2">
                                <li><a href="#">이용약관</a></li>
                                <li><a href="#">이용안내</a></li>
                                <li><a href="#">개인정보처리방침</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Guide</h3>
                            <ul class="style2">
                                <li><a href="#">장학금 기부자를 위한 안내</a></li>
                                <li><a href="#">장학금 수여자를 위한 안내</a></li>
                                <li><a href="#">공통 안내 사항</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Contact -->
                        <section class="widget contact last">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="https://www.facebook.com/KOREAUBL/" class="icon fa-facebook"></a></li>
                                <li><a href="https://medium.com/kubl-research" class="icon fa-medium"></a></li>
                                <li><a href="https://steemit.com/@kublock"><img border="0" src="/images/icon_steemit.gif" width="40" height="40"></a></li>
                            </ul>
                            <p>kubl.dvlp@gmail.com</p>
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="copyright">
                            <ul class="menu">
                                <li>Copyright &copy; 2018 <span style="font-weight:bold">KUBL</span> All rights reserved</li>
                                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>



        <!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script>
		
		function donate(){
		if(typeof web3 !== 'undefined'){
		web3 = new Web3(web3.currentProvider);
		} else {
		web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}
		
		web3.eth.defaultAccount = web3.eth.accounts[0];
		var PolarContract = web3.eth.contract([[
	{
		"constant": true,
		"inputs": [],
		"name": "name",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "totalSupply",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"name": "balanceOf",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "symbol",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "price",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"name": "_supply",
				"type": "uint256"
			},
			{
				"name": "_tokenPerEth",
				"type": "uint256"
			},
			{
				"name": "_name",
				"type": "string"
			},
			{
				"name": "_symbol",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"payable": true,
		"stateMutability": "payable",
		"type": "fallback"
	}
]]);
		
		
		
		
			var Polarship = PolarContract.at('0x1F8E107661Ca382C1B5B133aF5Ea1D9cE121D804');
		console.log(Polarship);
	
		web3.eth.getAccounts(function(error, accounts) {
		if (error) {
        console.log(error);
		}
	  
		var account = accounts[0];
		
		var tx = Polarship._eth.sendTransaction({from:account, to:'0x2621e1dab1DCd6669522d3Fe688322372d78b2Ef', value: web3.toWei(
                                <%=row.brdtokenamount%>, 'ether')}, 
		function(err,transactionHash){
		if(!err)
			console.log(transactionHash)
		});
		
		});
}
		
		
		/*Polarship.name(function(error,result){
		if(!error){
		$("#coinName").html("Coin name: "+result[0]);
		console.log(result);
		}
		else
		console.error(error);
		});
		*/

		</script>
		
		
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>
